html,
body {
  margin: 0;
}

body {
  font-family: $primary-font;
  color: $gris-oscuro;
  font-size: 1.2em;
}

h1,
h2 {
  font-weight: $font-regular;
}

//decoracion---------------------------------------------
a,
a:hover {
  text-decoration: none;
}

.dn {
  display: none !important;
}

//flotantes----------------------------------------------
.fl {
  float: left !important;
}

.fr {
  float: right;
}

.fn {
  float: none;
}

.cb {
  clear: both;
}

hr {
  margin: 10px 0 10px 0;
  padding: 0;
}

a {
  color: $gris-claro;
  transition: .2s ease-in-out all;
  &:hover{
    color: $azul-cam;
  }
  &:focus{
    text-decoration: none;
  }
}
.content-wrapper{
  min-height: calc(100vh - 420px);
}
