$primary-font: 'Montserrat', sans-serif;
$font-light: 200;
$font-bold: 400;
$font-regular: 300;

// Colores
$gris-oscuro: #2f3238;
$gris-claro: #666666;
$gris-superclaro: #e3e3e3;
$gris-footer: #f7f7f7;
$rosa-cam: #e22980;
$azul-cam: #008d94;
$white: white;

// z-index
$zindex-1: 1;
$zindex-2: 2;
$zindex-3: 3;
$zindex-4: 4;
$zindex-5: 5;
