.woo-filter-item{
  padding: 0;
  padding-right: 15px;
  @include MQ(SM){
    margin: 0 0 5px;
  }
}
.widget_layered_nav select {
  color: lightgrey;
  width: 100%;
  cursor: pointer;
  border: 1px solid lightgrey;
  padding-right: 2em;
  appearance: none;
  &:focus{
    color: $gris-claro;
  }
}
.span-wrapper {
  width: 100%;
  display: inline-block;
  position: relative;
  &::after {
    content: "";
    display: inline-block;
    position:absolute;
    right: .3em;
    top: 10px;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: lightgrey transparent transparent transparent;
  }
}
