.navbar {
    font-family: $title-regular;
    border: 0;
    margin: 0;
    .navbar-header {
        .navbar-toggle {
            width: 100%;
            margin: 0 auto;
            .icon-bar {
                margin: 0 auto;
                max-height: 4px;
                margin-bottom: 4px;
            }
        }
    }
    .nav-menu-primary-container {
        display: table;
        margin: 0 auto;
        .navbar-nav {
            @include MQ(MXL) {}
            text-align: center;
            li {
                cursor: pointer;
            }
            a {
                font-size: 16px;
                &:hover {
                    color: $rosa-cam;
                }
            }
        }
    }
}

.logo-principal {
    h1 {
        @include MQ(MXL) {
            margin-top: 0;
        }
    }
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background: none;
    box-shadow: none;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background: none;
}

.navbar-default .navbar-nav>.active>a {
    color: none;
}

.navbar-default {
    background: none;
}

.contacto-visible{
    display: none;
}
.nav-principal-cam{
    .contacto-visible{
        display: block;
    }
}
