@font-face {
  font-family: 'Oswald-regular';
  src: url("../fonts/oswald-regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/oswald-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald-regular-webfont.woff2") format("woff2"), url("../fonts/oswald-regular-webfont.woff") format("woff"), url("../fonts/oswald-regular-webfont.ttf") format("truetype"), url("../fonts/oswald-regular-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Oswald-light';
  src: url("../fonts/oswald-light-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/oswald-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald-light-webfont.woff2") format("woff2"), url("../fonts/oswald-light-webfont.woff") format("woff"), url("../fonts/oswald-light-webfont.ttf") format("truetype"), url("../fonts/oswald-light-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Oswald-heavy';
  src: url("../fonts/oswald-heavy-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/oswald-heavy-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald-heavy-webfont.woff2") format("woff2"), url("../fonts/oswald-heavy-webfont.woff") format("woff"), url("../fonts/oswald-heavy-webfont.ttf") format("truetype"), url("../fonts/oswald-heavy-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Open-sans-regular';
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Oswald-regular';
  src: url("../fonts/oswald-regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/oswald-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald-regular-webfont.woff2") format("woff2"), url("../fonts/oswald-regular-webfont.woff") format("woff"), url("../fonts/oswald-regular-webfont.ttf") format("truetype"), url("../fonts/oswald-regular-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Oswald-light';
  src: url("../fonts/oswald-light-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/oswald-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald-light-webfont.woff2") format("woff2"), url("../fonts/oswald-light-webfont.woff") format("woff"), url("../fonts/oswald-light-webfont.ttf") format("truetype"), url("../fonts/oswald-light-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Oswald-heavy';
  src: url("../fonts/oswald-heavy-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/oswald-heavy-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald-heavy-webfont.woff2") format("woff2"), url("../fonts/oswald-heavy-webfont.woff") format("woff"), url("../fonts/oswald-heavy-webfont.ttf") format("truetype"), url("../fonts/oswald-heavy-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Open-sans-regular';
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

.wrapper-loader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1001;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff;
  color: #2f3238; }

.sk-cube-grid {
  width: 180px;
  height: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.sk-cube {
  width: 33%;
  height: 33%;
  background: #fff url(../img/footwear.svg) no-repeat center center;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; }

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1); } }

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1); } }

/*/-----------------------------------------------------Global styles-------------------html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

html, body {
  height: 100%;
  margin: 0; }

body {
  font-family: "Open-sans-regular", sans-serif;
  color: #2f3238; }

h1, h2 {
  font-family: "Oswald-regular", sans-serif; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::after, *::before {
  box-sizing: border-box !important; }

a, a:hover {
  text-decoration: none; }

.dn {
  display: none !important; }

.fl {
  float: left !important; }

.fr {
  float: right; }

.fn {
  float: none; }

.cb {
  clear: both; }

a {
  color: #008d94; }

.navbar {
  font-family: "Oswald-regular", sans-serif;
  border: 0;
  margin: 0; }
  .navbar .navbar-header .navbar-toggle {
    width: 100%;
    margin: 0 auto; }
    .navbar .navbar-header .navbar-toggle .icon-bar {
      margin: 0 auto;
      max-height: 4px;
      margin-bottom: 4px; }
  .navbar .nav-menu-primary-container {
    display: table;
    margin: 0 auto; }
    .navbar .nav-menu-primary-container .navbar-nav {
      text-align: center; }
      .navbar .nav-menu-primary-container .navbar-nav li {
        cursor: pointer; }
      .navbar .nav-menu-primary-container .navbar-nav a {
        font-size: 18px; }
        .navbar .nav-menu-primary-container .navbar-nav a:hover {
          color: #e22980; }

@media only screen and (min-width: 768px) {
  #logo-principal h1 {
    margin-top: 0; } }

.barra-iconos-top {
  padding: 10px 0 0 0;
  display: block; }
  .barra-iconos-top ul li a {
    transition: .3s ease-in-out all;
    font-family: "Oswald-regular", sans-serif;
    color: #666666;
    padding: 0 12px 0 40px;
    line-height: 32px;
    background: transparent;
    font-size: 14px;
    text-transform: capitalize; }
    .barra-iconos-top ul li a:hover {
      color: #e22980;
      background: transparent; }
  .barra-iconos-top ul .icon-session a:before, .barra-iconos-top ul .icon-cart a:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    padding: 2px;
    transition: .3s ease-in-out all; }
  .barra-iconos-top ul .cart-cuenta {
    padding: 0; }
    .barra-iconos-top ul .cart-cuenta .woocommerce-Price-currencySymbol {
      margin: 0 5px 0 0; }
    .barra-iconos-top ul .cart-cuenta .numero-cuenta {
      display: inline-block;
      width: 30px;
      height: 30px;
      border: 1px solid #2f3238;
      border-radius: 50%;
      text-align: center;
      transition: .3s ease-in-out all; }
    .barra-iconos-top ul .cart-cuenta:hover .numero-cuenta {
      background: #008d94;
      color: white;
      border: 1px solid white; }
  .barra-iconos-top ul .icon-session a:before {
    background: url("../img/usuario-icono.png") center no-repeat;
    background-size: contain; }
  .barra-iconos-top ul .icon-session a:hover:before {
    background: url("../img/usuario-icono-hover.png") center no-repeat;
    background-size: contain; }
  .barra-iconos-top ul .icon-cart a:before {
    background: url("../img/carrito-icono.png") center no-repeat;
    background-size: contain; }
  .barra-iconos-top ul .icon-cart a:hover:before {
    background: url("../img/carrito-icono-hover.png") center no-repeat;
    background-size: contain; }

/*
HOVERNAV
========
A simple addition to the dropdown menu (Bootstrap itself is unchanged). Navbar dropdowns appear on hover.
This works only for screen sizes larger than phones.

If you don't want this, delete this segment of the CSS and delete the corresponding segment of js/bst-plus.js
*/
@media (min-width: 768px) {
  .navbar-nav .open ul {
    display: none; }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background: none; }
  .navbar-inverse .navbar-nav > .open > a,
  .navbar-inverse .navbar-nav > .open > a:hover,
  .navbar-inverse .navbar-nav > .open > a:focus {
    color: #969696;
    background: none; }
  .navbar-nav .hovernav:hover > .dropdown-menu {
    display: block; } }

/*
MEGANAV
=======
A simple addition to the dropdown menu (Bootstrap itself is unchanged). When you add GRAND-CHILD links in the navbar: on screens larger than phones, Meganav will transform the dropdown into a mega-menu, with child-links displayed as menu-column heads (in bold).

If you don't want this, delete this segment of the CSS and delete the corresponding segment of js/bst-plus.js
*/
.mega-menu ul a {
  color: #666; }

.mega-menu > ul > li > a {
  font-weight: bold !important; }

@media (max-width: 767px) {
  .has-children ul {
    display: block !important;
    margin-left: 15px; } }

@media (min-width: 768px) {
  .dropdown.mega-menu {
    position: static; }
  .mega-menu > .dropdown-menu {
    left: 0;
    right: 0;
    overflow-x: auto; }
  .mega-menu > ul > li {
    display: table-cell; }
  .mega-menu > ul ul {
    position: relative;
    display: block !important;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    padding: 0; }
  .dropdown-menu li {
    border-right: 1px solid #e7e7e7; }
  .dropdown-menu li li,
  .dropdown-menu li:last-of-type {
    border-right: 0; } }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background: none;
  box-shadow: none; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background: none; }

.navbar-default .navbar-nav > .active > a {
  color: none; }

.navbar-default {
  background: none; }

hr {
  margin: 10px 0 10px 0;
  padding: 0; }

.site-footer {
  background: #2f3238; }
  .site-footer ul {
    list-style-type: none;
    padding: 0; }
  .site-footer .footer-cam {
    color: white;
    padding: 20px 0 20px 0; }
    .site-footer .footer-cam .footer-nav h5 {
      text-transform: uppercase;
      padding-bottom: 10px; }
    .site-footer .footer-cam .footer-nav ul li {
      margin: 10px 0 0 0; }
      .site-footer .footer-cam .footer-nav ul li a {
        font-family: "Oswald-regular", sans-serif;
        font-size: 18px; }
        .site-footer .footer-cam .footer-nav ul li a:hover {
          color: #e22980; }
  .site-footer .footer-estela {
    background: white;
    padding: 20px 0 0 0; }

/*.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
margin: 0 2.8% 2.992em 0;
width: 17.55%;
}*/
