@font-face {
  font-family: 'montserrat-regular';
  src: url("../fonts/montserrat-regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat-regular-webfont.ttf") format("truetype"), url("../fonts/montserrat-regular-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'montserrat-light';
  src: url("../fonts/montserrat-light-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-light-webfont.woff2") format("woff2"), url("../fonts/montserrat-light-webfont.woff") format("woff"), url("../fonts/montserrat-light-webfont.ttf") format("truetype"), url("../fonts/montserrat-light-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'montserrat-ultralight';
  src: url("../fonts/montserrat-ultralight-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/montserrat-ultralight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-ultralight-webfont.woff2") format("woff2"), url("../fonts/montserrat-ultralight-webfont.woff") format("woff"), url("../fonts/montserrat-ultralight-webfont.ttf") format("truetype"), url("../fonts/montserrat-ultralight-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'fira-regular';
  src: url("../fonts/firasans-regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/firasans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/firasans-regular-webfont.woff2") format("woff2"), url("../fonts/firasans-regular-webfont.woff") format("woff"), url("../fonts/firasans-regular-webfont.ttf") format("truetype"), url("../fonts/firasans-regular-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'montserrat-regular';
  src: url("../fonts/montserrat-regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat-regular-webfont.ttf") format("truetype"), url("../fonts/montserrat-regular-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'montserrat-light';
  src: url("../fonts/montserrat-light-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-light-webfont.woff2") format("woff2"), url("../fonts/montserrat-light-webfont.woff") format("woff"), url("../fonts/montserrat-light-webfont.ttf") format("truetype"), url("../fonts/montserrat-light-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'montserrat-ultralight';
  src: url("../fonts/montserrat-ultralight-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/montserrat-ultralight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-ultralight-webfont.woff2") format("woff2"), url("../fonts/montserrat-ultralight-webfont.woff") format("woff"), url("../fonts/montserrat-ultralight-webfont.ttf") format("truetype"), url("../fonts/montserrat-ultralight-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'fira-regular';
  src: url("../fonts/firasans-regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/firasans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/firasans-regular-webfont.woff2") format("woff2"), url("../fonts/firasans-regular-webfont.woff") format("woff"), url("../fonts/firasans-regular-webfont.ttf") format("truetype"), url("../fonts/firasans-regular-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

.wrapper-loader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1001;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff;
  color: #2f3238; }

.sk-cube-grid {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.sk-cube {
  width: 100%;
  height: 100%;
  background: #fff url(../img/footwear.svg) no-repeat center center;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; }

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0.5, 0.5, 1);
    transform: scale3D(0.5, 0.5, 1); } }

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0.5, 1);
    transform: scale3D(0.5, 0.5, 1); } }

/*/-----------------------------------------------------Global styles-------------------html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

html, body {
  height: 100%;
  margin: 0; }

body {
  font-family: "fira-regular", sans-serif;
  color: #2f3238; }

h1, h2 {
  font-family: "montserrat-light", sans-serif; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::after, *::before {
  box-sizing: border-box !important; }

a, a:hover {
  text-decoration: none; }

.dn {
  display: none !important; }

.fl {
  float: left !important; }

.fr {
  float: right; }

.fn {
  float: none; }

.cb {
  clear: both; }

a {
  color: #008d94; }

.contacto-visible {
  display: none; }

.nav-principal-cam .contacto-visible {
  display: block; }

.navbar {
  font-family: "montserrat-light", sans-serif;
  border: 0;
  margin: 0; }
  .navbar .navbar-header .navbar-toggle {
    width: 100%;
    margin: 0 auto; }
    .navbar .navbar-header .navbar-toggle .icon-bar {
      margin: 0 auto;
      max-height: 4px;
      margin-bottom: 4px; }
  .navbar .nav-menu-primary-container {
    display: table;
    margin: 0 auto; }
    .navbar .nav-menu-primary-container .navbar-nav {
      text-align: center; }
      .navbar .nav-menu-primary-container .navbar-nav li {
        cursor: pointer; }
      .navbar .nav-menu-primary-container .navbar-nav a {
        font-size: 16px; }
        .navbar .nav-menu-primary-container .navbar-nav a:hover {
          color: #e22980; }

@media only screen and (min-width: 768px) {
  #logo-principal h1 {
    margin-top: 0; } }

/*
HOVERNAV
========
A simple addition to the dropdown menu (Bootstrap itself is unchanged). Navbar dropdowns appear on hover.
This works only for screen sizes larger than phones.

If you don't want this, delete this segment of the CSS and delete the corresponding segment of js/bst-plus.js
*/
@media (min-width: 768px) {
  .navbar-nav .open ul {
    display: none; }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background: none; }
  .navbar-inverse .navbar-nav > .open > a,
  .navbar-inverse .navbar-nav > .open > a:hover,
  .navbar-inverse .navbar-nav > .open > a:focus {
    color: #969696;
    background: none; }
  .navbar-nav .hovernav:hover > .dropdown-menu {
    display: block; } }

/*
MEGANAV
=======
A simple addition to the dropdown menu (Bootstrap itself is unchanged). When you add GRAND-CHILD links in the navbar: on screens larger than phones, Meganav will transform the dropdown into a mega-menu, with child-links displayed as menu-column heads (in bold).

If you don't want this, delete this segment of the CSS and delete the corresponding segment of js/bst-plus.js
*/
.mega-menu ul a {
  color: #666; }

.mega-menu > ul > li > a {
  font-weight: bold !important; }

@media (max-width: 767px) {
  .has-children ul {
    display: block !important;
    margin-left: 15px; } }

@media (min-width: 768px) {
  .dropdown.mega-menu {
    position: static; }
  .mega-menu > .dropdown-menu {
    left: 0;
    right: 0;
    overflow-x: auto; }
  .mega-menu > ul > li {
    display: table-cell; }
  .mega-menu > ul ul {
    position: relative;
    display: block !important;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    padding: 0; }
  .dropdown-menu li {
    border-right: 1px solid #e7e7e7; }
  .dropdown-menu li li,
  .dropdown-menu li:last-of-type {
    border-right: 0; } }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background: none;
  box-shadow: none; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background: none; }

.navbar-default .navbar-nav > .active > a {
  color: none; }

.navbar-default {
  background: none; }

hr {
  margin: 10px 0 10px 0;
  padding: 0; }

.contacto #modalbox {
  border-radius: 0;
  opacity: 0.96; }

.contacto #social-media ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: block; }
  .contacto #social-media ul li {
    display: inline-block;
    margin-right: 10px; }
    .contacto #social-media ul li a:hover {
      text-decoration: none; }
    .contacto #social-media ul li span {
      font-size: 25px; }

.contacto .btn-contacto {
  width: 100%;
  margin: 25px 0;
  border-radius: 0;
  font-size: 15px;
  font-weight: bold; }

.contacto h3 {
  letter-spacing: 5px;
  font-weight: bold; }

.wpcf7 {
  text-align: center;
  margin: 0 auto; }

.wpcf7 textarea,
.wpcf7 input {
  width: 80%;
  margin: 0 auto; }

.wpcf7 {
  margin: 0 auto;
  text-align: center;
  margin: 0 0 25px 0; }
  .wpcf7 input[type=submit] {
    margin: 10px;
    width: 200px;
    border: none;
    height: 60px; }
    .wpcf7 input[type=submit]:hover {
      color: white; }
  .wpcf7 textarea,
  .wpcf7 input {
    max-width: 500px; }

#recaptcha {
  width: 304px;
  margin: 0 auto; }

#recaptcha_area, #recaptcha_table {
  margin: 0 auto !important; }

.icon-facebook,
.icon-twitter,
.icon-instagram {
  margin: 0 10px 0 0;
  zoom: 1.3; }

.site-footer {
  background: #e3e3e3; }
  .site-footer ul {
    list-style-type: none;
    padding: 0; }
  .site-footer .footer-cam {
    color: #2f3238;
    padding: 20px 0 20px 0; }
    .site-footer .footer-cam hr {
      border-color: #666666; }
    .site-footer .footer-cam .footer-nav h5 {
      text-transform: uppercase;
      padding-bottom: 10px;
      font-size: 16px; }
    .site-footer .footer-cam .footer-nav ul li {
      margin: 10px 0 0 0; }
      .site-footer .footer-cam .footer-nav ul li a {
        font-family: "montserrat-light", sans-serif;
        font-size: 16px; }
        .site-footer .footer-cam .footer-nav ul li a:hover {
          color: #e22980; }
  .site-footer .footer-estela {
    background: white;
    padding: 20px 0 0 0; }

.woocommerce button.button,
a.button {
  font-weight: 400 !important; }

.woocommerce input.button.alt,
a.checkout-button.button.alt.wc-forward {
  background: #008d94;
  transition: ease-in-out 0.3s all;
  border-radius: 0;
  color: white;
  font-weight: 400; }
  .woocommerce input.button.alt:hover,
  a.checkout-button.button.alt.wc-forward:hover {
    background: #e22980;
    color: white; }

.woocommerce-checkout #payment div.payment_box {
  background: none; }

div.instacontainer {
  text-transform: capitalize; }
  div.instacontainer div {
    padding: 4px 0 0 0; }
  div.instacontainer .copy {
    margin: 24px 0 10px 0; }

.woocommerce-checkout #payment ul.payment_methods li img {
  position: inherit;
  margin: 0 auto;
  padding: 0; }

/*.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
margin: 0 2.8% 2.992em 0;
width: 17.55%;
}*/
