@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400");
@import url("https://file.myfontastic.com/dhMhwWGPxzpYEzacwQrQrK/icons.css");
/* line 2, assets/scss/base/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

/* line 17, assets/scss/base/_reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 22, assets/scss/base/_reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 30, assets/scss/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, assets/scss/base/_global.scss */
* {
  box-sizing: border-box;
}

/* line 5, assets/scss/base/_global.scss */
html,
body {
  margin: 0;
}

/* line 10, assets/scss/base/_global.scss */
body {
  font-family: "Montserrat", sans-serif;
  color: #2f3238;
  font-size: 1.2em;
}

/* line 16, assets/scss/base/_global.scss */
h1,
h2,
h3 {
  font-weight: 300;
}

/* line 22, assets/scss/base/_global.scss */
.dn {
  display: none !important;
}

/* line 26, assets/scss/base/_global.scss */
.fl {
  float: left !important;
}

/* line 30, assets/scss/base/_global.scss */
.fr {
  float: right;
}

/* line 34, assets/scss/base/_global.scss */
.fn {
  float: none;
}

/* line 38, assets/scss/base/_global.scss */
.cb {
  clear: both;
}

/* line 42, assets/scss/base/_global.scss */
hr {
  margin: 10px 0 10px 0;
  padding: 0;
}

/* line 47, assets/scss/base/_global.scss */
a {
  transition: .2s ease-in-out all;
  color: #666666;
  font-weight: 300 !important;
  text-decoration: none;
}

/* line 52, assets/scss/base/_global.scss */
a:hover {
  color: #008d94;
  text-decoration: none;
}

/* line 56, assets/scss/base/_global.scss */
a:focus {
  text-decoration: none;
}

/* line 60, assets/scss/base/_global.scss */
.content-wrapper {
  min-height: calc(100vh - 420px);
}

/* line 2, assets/scss/layout/_contact.scss */
.contacto #modalbox {
  border-radius: 0;
  opacity: 0.96;
}

/* line 7, assets/scss/layout/_contact.scss */
.contacto #social-media ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: block;
}

/* line 12, assets/scss/layout/_contact.scss */
.contacto #social-media ul li {
  display: inline-block;
  margin-right: 10px;
}

/* line 16, assets/scss/layout/_contact.scss */
.contacto #social-media ul li a:hover {
  text-decoration: none;
}

/* line 20, assets/scss/layout/_contact.scss */
.contacto #social-media ul li span {
  font-size: 25px;
}

/* line 30, assets/scss/layout/_contact.scss */
.contacto .btn-contacto {
  width: 100%;
  margin: 25px 0;
  border-radius: 0;
  font-size: 15px;
}

/* line 36, assets/scss/layout/_contact.scss */
.contacto h3 {
  letter-spacing: 5px;
}

/* line 41, assets/scss/layout/_contact.scss */
.wpcf7 {
  text-align: center;
  margin: 0 auto;
}

/* line 46, assets/scss/layout/_contact.scss */
.wpcf7 textarea,
.wpcf7 input {
  width: 80%;
  margin: 0 auto;
}

/* line 56, assets/scss/layout/_contact.scss */
.wpcf7 {
  margin: 0 auto;
  text-align: center;
  margin: 0 0 25px 0;
}

/* line 60, assets/scss/layout/_contact.scss */
.wpcf7 input[type=submit] {
  margin: 10px;
  width: 200px;
  border: none;
  height: 60px;
}

/* line 66, assets/scss/layout/_contact.scss */
.wpcf7 input[type=submit]:hover {
  color: white;
}

/* line 71, assets/scss/layout/_contact.scss */
.wpcf7 textarea,
.wpcf7 input {
  max-width: 500px;
}

/* line 77, assets/scss/layout/_contact.scss */
#recaptcha {
  width: 304px;
  margin: 0 auto;
}

/* line 82, assets/scss/layout/_contact.scss */
#recaptcha_area,
#recaptcha_table {
  margin: 0 auto !important;
}

/* line 1, assets/scss/layout/_nav.scss */
.current_user {
  text-transform: capitalize;
}

/* line 5, assets/scss/layout/_nav.scss */
.navbar {
  font-size: 1.3rem;
  font-weight: 300;
  border: 0;
  margin: 0;
}

@media only screen and (min-width: 769px) {
  /* line 5, assets/scss/layout/_nav.scss */
  .navbar {
    margin-bottom: 20px;
  }
}

/* line 13, assets/scss/layout/_nav.scss */
.navbar-default {
  background: none;
}

/* line 15, assets/scss/layout/_nav.scss */
.navbar-default .navbar-nav > li > a {
  color: #666666;
  font-weight: 300 !important;
}

/* line 18, assets/scss/layout/_nav.scss */
.navbar-default .navbar-nav > li > a:hover {
  color: #008d94;
}

/* line 22, assets/scss/layout/_nav.scss */
.navbar-default .navbar-nav > .active > a {
  background: none;
  color: #e22980;
}

/* line 25, assets/scss/layout/_nav.scss */
.navbar-default .navbar-nav > .active > a:hover {
  background: none;
}

/* line 28, assets/scss/layout/_nav.scss */
.navbar-default .navbar-nav > .active > a:focus {
  background: none;
}

/* line 32, assets/scss/layout/_nav.scss */
.navbar-default .navbar-toggle {
  width: 100%;
  margin: 0 auto;
  border-radius: 0;
}

/* line 36, assets/scss/layout/_nav.scss */
.navbar-default .navbar-toggle:hover {
  background: none;
}

/* line 39, assets/scss/layout/_nav.scss */
.navbar-default .navbar-toggle .icon-bar {
  margin: 0 auto;
  max-height: 4px;
  margin-bottom: 4px;
}

/* line 46, assets/scss/layout/_nav.scss */
.navbar-collapse {
  border: 0;
}

/* line 49, assets/scss/layout/_nav.scss */
.navbar .dropdown-menu {
  background: none;
  font-size: 1.3rem;
  transition: 1s ease-in-out all;
  border: 1px solid #e3e3e3;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}

/* line 57, assets/scss/layout/_nav.scss */
.navbar .dropdown-menu li > a {
  color: #666666;
  transition: .2s ease-in-out all;
}

/* line 60, assets/scss/layout/_nav.scss */
.navbar .dropdown-menu li > a:hover {
  color: #008d94;
  background: rgba(102, 102, 102, 0.1);
}

/* line 64, assets/scss/layout/_nav.scss */
.navbar .dropdown-menu li > a:focus {
  text-decoration: none;
}

/* line 68, assets/scss/layout/_nav.scss */
.navbar .dropdown-menu .menu-wrapper {
  list-style-type: none;
}

/* line 71, assets/scss/layout/_nav.scss */
.navbar .dropdown-menu .item-wrapper {
  display: table;
}

/* line 73, assets/scss/layout/_nav.scss */
.navbar .dropdown-menu .item-wrapper > a {
  font-weight: 400 !important;
}

/* line 76, assets/scss/layout/_nav.scss */
.navbar .dropdown-menu .item-wrapper a[title] {
  display: block;
}

/* line 80, assets/scss/layout/_nav.scss */
.navbar .dropdown-menu > .active > a {
  background: rgba(0, 141, 148, 0.1);
  color: #008d94;
  font-weight: 400 !important;
}

/* line 88, assets/scss/layout/_nav.scss */
.nav.navbar-nav {
  width: 100%;
}

/* line 90, assets/scss/layout/_nav.scss */
.nav.navbar-nav .menu__item {
  min-width: 14.1%;
}

@media only screen and (min-width: 769px) and (max-width: 1280px) {
  /* line 90, assets/scss/layout/_nav.scss */
  .nav.navbar-nav .menu__item {
    min-width: 12.7%;
  }
}

/* line 98, assets/scss/layout/_nav.scss */
.contacto-visible {
  display: none;
}

/* line 103, assets/scss/layout/_nav.scss */
.nav-principal-cam .contacto-visible {
  display: block;
}

/* line 108, assets/scss/layout/_nav.scss */
.navbar-default .navbar-nav > .open > a {
  background: none;
}

/* line 110, assets/scss/layout/_nav.scss */
.navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background: none;
}

@media handheld, only screen and (max-width: 768px) {
  /* line 117, assets/scss/layout/_nav.scss */
  .has-children ul {
    display: block !important;
    margin-left: 15px;
  }
  /* line 122, assets/scss/layout/_nav.scss */
  .menu-item img {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  /* line 129, assets/scss/layout/_nav.scss */
  .navbar-nav .open ul {
    display: none;
  }
  /* line 132, assets/scss/layout/_nav.scss */
  .navbar-nav .hovernav:hover > .dropdown-menu {
    display: block;
    width: 100%;
    min-height: 20vh;
    background: rgba(255, 255, 255, 0.9);
  }
  /* line 138, assets/scss/layout/_nav.scss */
  .dropdown.mega-menu {
    position: static;
  }
  /* line 141, assets/scss/layout/_nav.scss */
  .mega-menu > .dropdown-menu {
    left: 0;
    right: 0;
  }
  /* line 145, assets/scss/layout/_nav.scss */
  .mega-menu > ul ul.dropdown-menu {
    position: relative;
    display: block !important;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
  }
  /* line 153, assets/scss/layout/_nav.scss */
  .dropdown-menu .container li {
    display: block;
  }
  /* line 156, assets/scss/layout/_nav.scss */
  .menu-wrapper > .menu-item {
    padding: 5px;
    width: 25%;
    float: left;
  }
  /* line 161, assets/scss/layout/_nav.scss */
  .menu-wrapper > .menu-item > a,
  .item-wrapper > a {
    font-weight: 400 !important;
  }
  /* line 165, assets/scss/layout/_nav.scss */
  .menu-wrapper:nth-child(5) {
    clear: left;
  }
  /* line 168, assets/scss/layout/_nav.scss */
  .img-damas {
    background: #e9e8e6;
  }
}

/* line 1, assets/scss/layout/_footer.scss */
.site-footer {
  background: #f7f7f7;
  padding-top: 15px;
}

/* line 4, assets/scss/layout/_footer.scss */
.site-footer ul {
  list-style-type: none;
  padding: 0 0 0 20px;
}

/* line 8, assets/scss/layout/_footer.scss */
.site-footer hr {
  border-color: #e3e3e3;
}

/* line 11, assets/scss/layout/_footer.scss */
.site-footer-shop-icons {
  font-size: .9em;
}

/* line 13, assets/scss/layout/_footer.scss */
.site-footer-shop-icons span {
  font-size: 2em;
  margin-top: -5px;
  padding-right: 6px;
  display: inline-block;
  float: left;
}

/* line 21, assets/scss/layout/_footer.scss */
.site-footer-social-icons {
  display: inline-block;
  margin-right: 20px;
  float: right;
}

/* line 28, assets/scss/layout/_footer.scss */
.footer-estela {
  padding-top: 15px;
}

/* line 2, assets/scss/layout/woocommerce/_woo-global.scss */
.upsells.products {
  clear: both;
}

/* line 6, assets/scss/layout/woocommerce/_woo-global.scss */
.related.products {
  clear: both;
  text-align: center;
}

/* line 13, assets/scss/layout/woocommerce/_woo-global.scss */
.woocommerce-content-cam {
  padding: 0 80px 0 80px;
}

@media handheld, only screen and (max-width: 768px) {
  /* line 13, assets/scss/layout/woocommerce/_woo-global.scss */
  .woocommerce-content-cam {
    padding: 0 10px 0 10px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1280px) {
  /* line 13, assets/scss/layout/woocommerce/_woo-global.scss */
  .woocommerce-content-cam {
    padding: 0 20px 0 20px;
  }
}

/* line 21, assets/scss/layout/woocommerce/_woo-global.scss */
.woocommerce-content-cam .term-description {
  display: none;
}

/* line 28, assets/scss/layout/woocommerce/_woo-global.scss */
.woocommerce-content-cam .woocommerce-message,
.woocommerce-content-cam .woocommerce-error,
.woocommerce-content-cam .woocommerce-info,
.woocommerce .woocommerce-message,
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info {
  color: #666666;
}

/* line 32, assets/scss/layout/woocommerce/_woo-global.scss */
.woocommerce-content-cam .woocommerce-message a,
.woocommerce-content-cam .woocommerce-error a,
.woocommerce-content-cam .woocommerce-info a,
.woocommerce .woocommerce-message a,
.woocommerce .woocommerce-error a,
.woocommerce .woocommerce-info a {
  background: #008d94;
  transition: ease-in-out 0.3s all;
  border-radius: 0;
  color: white;
  font-weight: 400;
}

/* line 38, assets/scss/layout/woocommerce/_woo-global.scss */
.woocommerce-content-cam .woocommerce-message a:hover,
.woocommerce-content-cam .woocommerce-error a:hover,
.woocommerce-content-cam .woocommerce-info a:hover,
.woocommerce .woocommerce-message a:hover,
.woocommerce .woocommerce-error a:hover,
.woocommerce .woocommerce-info a:hover {
  background: #e22980;
  color: white;
}

/* line 44, assets/scss/layout/woocommerce/_woo-global.scss */
.woocommerce-content-cam label,
.woocommerce label {
  color: #2f3238;
  font-weight: 300 !important;
}

/* line 48, assets/scss/layout/woocommerce/_woo-global.scss */
.woocommerce-content-cam .woocommerce-breadcrumb,
.woocommerce .woocommerce-breadcrumb {
  margin: 0;
  font-size: 1.1em;
}

/* line 52, assets/scss/layout/woocommerce/_woo-global.scss */
.woocommerce-content-cam .woocommerce-breadcrumb a:hover,
.woocommerce .woocommerce-breadcrumb a:hover {
  color: #e22980;
}

@media handheld, only screen and (max-width: 768px) {
  /* line 48, assets/scss/layout/woocommerce/_woo-global.scss */
  .woocommerce-content-cam .woocommerce-breadcrumb,
  .woocommerce .woocommerce-breadcrumb {
    text-align: center;
  }
}

/* line 60, assets/scss/layout/woocommerce/_woo-global.scss */
.woocommerce-content-cam .woocommerce-result-count,
.woocommerce .woocommerce-result-count {
  color: #a7a7a7;
  font-size: 0.92em;
  display: block;
  width: 100%;
  padding: 25px 0 0px 0;
}

/* line 67, assets/scss/layout/woocommerce/_woo-global.scss */
.woocommerce-content-cam .wapl-flash,
.woocommerce .wapl-flash {
  top: -35px;
}

@media only screen and (min-width: 769px) and (max-width: 1280px) {
  /* line 67, assets/scss/layout/woocommerce/_woo-global.scss */
  .woocommerce-content-cam .wapl-flash,
  .woocommerce .wapl-flash {
    top: -20px;
  }
}

@media only screen and (min-width: 1281px) {
  /* line 67, assets/scss/layout/woocommerce/_woo-global.scss */
  .woocommerce-content-cam .wapl-flash,
  .woocommerce .wapl-flash {
    top: -15px;
  }
}

/* line 75, assets/scss/layout/woocommerce/_woo-global.scss */
.woocommerce-content-cam .wapl-flash .woocommerce-advanced-product-label.product-label,
.woocommerce .wapl-flash .woocommerce-advanced-product-label.product-label {
  border-color: #e3e3e3;
  width: 45px;
  height: 45px;
  line-height: 40px;
  font-weight: 300;
  font-size: 12px;
}

@media only screen and (min-width: 769px) and (max-width: 1280px) {
  /* line 75, assets/scss/layout/woocommerce/_woo-global.scss */
  .woocommerce-content-cam .wapl-flash .woocommerce-advanced-product-label.product-label,
  .woocommerce .wapl-flash .woocommerce-advanced-product-label.product-label {
    width: 38px;
    height: 38px;
    line-height: 34px;
    font-size: 10px;
  }
}

/* line 90, assets/scss/layout/woocommerce/_woo-global.scss */
.woocommerce-content-cam .page-title,
.woocommerce-content-cam .woocommerce-ordering,
.woocommerce .page-title,
.woocommerce .woocommerce-ordering {
  display: none;
}

/* line 94, assets/scss/layout/woocommerce/_woo-global.scss */
.woocommerce-content-cam ul.products,
.woocommerce ul.products {
  padding: 40px 0 0 0;
}

/* line 96, assets/scss/layout/woocommerce/_woo-global.scss */
.woocommerce-content-cam ul.products li.product,
.woocommerce ul.products li.product {
  margin-bottom: 20px;
  width: 13%;
  display: inline-block;
  vertical-align: top;
}

@media handheld, only screen and (max-width: 768px) {
  /* line 96, assets/scss/layout/woocommerce/_woo-global.scss */
  .woocommerce-content-cam ul.products li.product,
  .woocommerce ul.products li.product {
    width: 45%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1280px) {
  /* line 96, assets/scss/layout/woocommerce/_woo-global.scss */
  .woocommerce-content-cam ul.products li.product,
  .woocommerce ul.products li.product {
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 1281px) {
  /* line 96, assets/scss/layout/woocommerce/_woo-global.scss */
  .woocommerce-content-cam ul.products li.product,
  .woocommerce ul.products li.product {
    margin-bottom: 0;
  }
}

/* line 110, assets/scss/layout/woocommerce/_woo-global.scss */
.woocommerce-content-cam ul.products li.product a.button,
.woocommerce ul.products li.product a.button {
  display: none;
}

/* line 116, assets/scss/layout/woocommerce/_woo-global.scss */
.woocommerce-content-cam ul.products li.product a.woocommerce-LoopProduct-link:hover h3,
.woocommerce-content-cam ul.products li.product a.woocommerce-LoopProduct-link:hover h2,
.woocommerce ul.products li.product a.woocommerce-LoopProduct-link:hover h3,
.woocommerce ul.products li.product a.woocommerce-LoopProduct-link:hover h2 {
  opacity: 1;
  color: #666666;
}

/* line 123, assets/scss/layout/woocommerce/_woo-global.scss */
.woocommerce-content-cam ul.products li.product a.woocommerce-LoopProduct-link span.price,
.woocommerce ul.products li.product a.woocommerce-LoopProduct-link span.price {
  display: none;
  text-align: center;
}

/* line 128, assets/scss/layout/woocommerce/_woo-global.scss */
.woocommerce-content-cam ul.products li.product a.woocommerce-LoopProduct-link span.price span.woocommerce-Price-amount span.woocommerce-Price-currencySymbol,
.woocommerce ul.products li.product a.woocommerce-LoopProduct-link span.price span.woocommerce-Price-amount span.woocommerce-Price-currencySymbol {
  margin-right: 8px;
}

/* line 133, assets/scss/layout/woocommerce/_woo-global.scss */
.woocommerce-content-cam ul.products li.product a.woocommerce-LoopProduct-link h3,
.woocommerce-content-cam ul.products li.product a.woocommerce-LoopProduct-link h2,
.woocommerce ul.products li.product a.woocommerce-LoopProduct-link h3,
.woocommerce ul.products li.product a.woocommerce-LoopProduct-link h2 {
  font-weight: 300;
  position: relative;
  top: -15px;
  text-align: center;
  width: 100%;
  transition: .3s ease-in-out all;
  padding: 0;
  margin: 0;
  opacity: 0;
  font-size: 1.06em;
}

@media handheld {
  /* line 133, assets/scss/layout/woocommerce/_woo-global.scss */
  .woocommerce-content-cam ul.products li.product a.woocommerce-LoopProduct-link h3,
  .woocommerce-content-cam ul.products li.product a.woocommerce-LoopProduct-link h2,
  .woocommerce ul.products li.product a.woocommerce-LoopProduct-link h3,
  .woocommerce ul.products li.product a.woocommerce-LoopProduct-link h2 {
    opacity: 1;
  }
}

/* line 147, assets/scss/layout/woocommerce/_woo-global.scss */
.woocommerce-content-cam ul.products li.product a.woocommerce-LoopProduct-link h3 .touch,
.woocommerce-content-cam ul.products li.product a.woocommerce-LoopProduct-link h2 .touch,
.woocommerce ul.products li.product a.woocommerce-LoopProduct-link h3 .touch,
.woocommerce ul.products li.product a.woocommerce-LoopProduct-link h2 .touch {
  opacity: 1;
}

@media handheld, only screen and (max-width: 768px) {
  /* line 133, assets/scss/layout/woocommerce/_woo-global.scss */
  .woocommerce-content-cam ul.products li.product a.woocommerce-LoopProduct-link h3,
  .woocommerce-content-cam ul.products li.product a.woocommerce-LoopProduct-link h2,
  .woocommerce ul.products li.product a.woocommerce-LoopProduct-link h3,
  .woocommerce ul.products li.product a.woocommerce-LoopProduct-link h2 {
    font-size: 1.2em;
    opacity: 1;
  }
}

@media only screen and (min-width: 1281px) {
  /* line 133, assets/scss/layout/woocommerce/_woo-global.scss */
  .woocommerce-content-cam ul.products li.product a.woocommerce-LoopProduct-link h3,
  .woocommerce-content-cam ul.products li.product a.woocommerce-LoopProduct-link h2,
  .woocommerce ul.products li.product a.woocommerce-LoopProduct-link h3,
  .woocommerce ul.products li.product a.woocommerce-LoopProduct-link h2 {
    font-size: 1.4em;
    top: -25px;
  }
}

/* line 160, assets/scss/layout/woocommerce/_woo-global.scss */
.woocommerce-content-cam ul.products li.product a.woocommerce-LoopProduct-link img.attachment-shop_catalog,
.woocommerce ul.products li.product a.woocommerce-LoopProduct-link img.attachment-shop_catalog {
  padding: 20px;
}

@media only screen and (min-width: 769px) and (max-width: 1280px) {
  /* line 160, assets/scss/layout/woocommerce/_woo-global.scss */
  .woocommerce-content-cam ul.products li.product a.woocommerce-LoopProduct-link img.attachment-shop_catalog,
  .woocommerce ul.products li.product a.woocommerce-LoopProduct-link img.attachment-shop_catalog {
    padding: 10px;
  }
}

@media only screen and (min-width: 1281px) {
  /* line 160, assets/scss/layout/woocommerce/_woo-global.scss */
  .woocommerce-content-cam ul.products li.product a.woocommerce-LoopProduct-link img.attachment-shop_catalog,
  .woocommerce ul.products li.product a.woocommerce-LoopProduct-link img.attachment-shop_catalog {
    padding: 30px;
  }
}

/* line 172, assets/scss/layout/woocommerce/_woo-global.scss */
.woocommerce-content-cam nav.woocommerce-pagination,
.woocommerce nav.woocommerce-pagination {
  margin: 40px 0 30px 0;
}

@media handheld, only screen and (max-width: 768px) {
  /* line 176, assets/scss/layout/woocommerce/_woo-global.scss */
  .woocommerce-content-cam nav.woocommerce-pagination ul.page-numbers li span,
  .woocommerce-content-cam nav.woocommerce-pagination ul.page-numbers li a,
  .woocommerce nav.woocommerce-pagination ul.page-numbers li span,
  .woocommerce nav.woocommerce-pagination ul.page-numbers li a {
    font-size: 20px;
  }
}

/* line 188, assets/scss/layout/woocommerce/_woo-global.scss */
.woocommerce button.button,
a.button {
  font-weight: 300 !important;
}

/* line 193, assets/scss/layout/woocommerce/_woo-global.scss */
.woocommerce-Price-currencySymbol {
  margin-right: 6px;
}

/* line 197, assets/scss/layout/woocommerce/_woo-global.scss */
.woocommerce table.shop_table, .woocommerce-checkout #payment {
  border-radius: 0;
}

/* line 200, assets/scss/layout/woocommerce/_woo-global.scss */
.woocommerce-cart table.cart img {
  width: 64px;
}

/* line 203, assets/scss/layout/woocommerce/_woo-global.scss */
.checkbox {
  margin: 0;
}

/* line 2, assets/scss/layout/woocommerce/_woo-gallery.scss */
.pp_pic_holder.pp_woocommerce {
  overflow-x: visible;
}

/* line 6, assets/scss/layout/woocommerce/_woo-gallery.scss */
div.pp_woocommerce a.pp_expand {
  left: .5em !important;
}

/* line 10, assets/scss/layout/woocommerce/_woo-gallery.scss */
div.pp_woocommerce .pp_close {
  right: .5em !important;
}

/* line 14, assets/scss/layout/woocommerce/_woo-gallery.scss */
.pp_gallery {
  margin-top: -20px;
}

/* line 16, assets/scss/layout/woocommerce/_woo-gallery.scss */
.pp_gallery ul {
  height: 100%;
}

/* line 18, assets/scss/layout/woocommerce/_woo-gallery.scss */
.pp_gallery ul a {
  height: 100%;
}

/* line 30, assets/scss/layout/woocommerce/_woo-gallery.scss */
.single.single-product .woocommerce-content-cam div.imagenes a.woocommerce-main-image {
  display: block;
  margin: 0 auto;
  max-width: 460px;
}

@media handheld, only screen and (max-width: 480px) {
  /* line 30, assets/scss/layout/woocommerce/_woo-gallery.scss */
  .single.single-product .woocommerce-content-cam div.imagenes a.woocommerce-main-image {
    padding-top: 150px;
  }
}

@media handheld, only screen and (min-width: 481px) and (max-width: 768px) {
  /* line 30, assets/scss/layout/woocommerce/_woo-gallery.scss */
  .single.single-product .woocommerce-content-cam div.imagenes a.woocommerce-main-image {
    padding-top: 240px;
  }
}

/* line 42, assets/scss/layout/woocommerce/_woo-gallery.scss */
.single.single-product .woocommerce-content-cam div.imagenes div.thumb {
  padding: 0;
  position: absolute;
  top: 0;
}

@media only screen and (min-width: 769px) {
  /* line 42, assets/scss/layout/woocommerce/_woo-gallery.scss */
  .single.single-product .woocommerce-content-cam div.imagenes div.thumb {
    position: absolute;
    right: 0;
    top: 0;
  }
}

/* line 51, assets/scss/layout/woocommerce/_woo-gallery.scss */
.single.single-product .woocommerce-content-cam div.imagenes div.thumb a {
  width: 100%;
  margin: 0;
  float: none;
}

@media handheld, only screen and (max-width: 768px) {
  /* line 51, assets/scss/layout/woocommerce/_woo-gallery.scss */
  .single.single-product .woocommerce-content-cam div.imagenes div.thumb a {
    width: 33%;
    float: left;
  }
}

/* line 1, assets/scss/layout/woocommerce/_woo-nav.scss */
.woo_user_nav {
  background: #e3e3e3;
  height: 20px;
  margin-bottom: 10px;
  line-height: 160%;
}

/* line 6, assets/scss/layout/woocommerce/_woo-nav.scss */
.woo_user_nav-search {
  margin: 0;
  padding: 0;
}

/* line 11, assets/scss/layout/woocommerce/_woo-nav.scss */
.cart-amount {
  position: relative;
  left: -20px;
}

/* line 15, assets/scss/layout/woocommerce/_woo-nav.scss */
.bag-count {
  z-index: 5;
  color: white;
  position: relative;
  top: 18px;
  left: 23px;
}

/* line 21, assets/scss/layout/woocommerce/_woo-nav.scss */
.bag-count__icon {
  display: inline-block;
  position: absolute;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  background: url("../img/bag-icon.png") no-repeat;
}

/* line 29, assets/scss/layout/woocommerce/_woo-nav.scss */
.bag-count__disabled {
  display: inline-block;
  position: absolute;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  background: url("../img/bag-icon-disabled.png") no-repeat;
}

/* line 38, assets/scss/layout/woocommerce/_woo-nav.scss */
.cam-search-form {
  position: absolute;
  top: 0;
}

/* line 41, assets/scss/layout/woocommerce/_woo-nav.scss */
.cam-search-form:hover > button {
  background: #008d94;
  color: white;
}

/* line 45, assets/scss/layout/woocommerce/_woo-nav.scss */
.cam-search-form input, .cam-search-form button {
  color: #666666;
  background: rgba(255, 255, 255, 0.4);
  padding: 0 5px 0 5px;
  height: 20px;
  border: none;
}

/* line 52, assets/scss/layout/woocommerce/_woo-nav.scss */
.cam-search-form button {
  border-left: 3px solid #e3e3e3;
  transition: .2s ease-in-out all;
}

/* line 55, assets/scss/layout/woocommerce/_woo-nav.scss */
.cam-search-form button:hover {
  background: #008d94;
  color: white;
}

/* line 6, assets/scss/layout/woocommerce/_woo-single-product.scss */
.single.single-product .woocommerce-content-cam .product_meta {
  display: none;
}

/* line 9, assets/scss/layout/woocommerce/_woo-single-product.scss */
.single.single-product .woocommerce-content-cam div.related {
  color: #666666;
  padding: 32px 0 0 0;
}

/* line 12, assets/scss/layout/woocommerce/_woo-single-product.scss */
.single.single-product .woocommerce-content-cam div.related h2 {
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}

/* line 16, assets/scss/layout/woocommerce/_woo-single-product.scss */
.single.single-product .woocommerce-content-cam div.related ul.products {
  padding: 0;
}

@media handheld, only screen and (max-width: 768px) {
  /* line 20, assets/scss/layout/woocommerce/_woo-single-product.scss */
  .single.single-product .woocommerce-content-cam div.product div.sumario {
    text-align: center;
    clear: both;
  }
}

/* line 25, assets/scss/layout/woocommerce/_woo-single-product.scss */
.single.single-product .woocommerce-content-cam div.product div.sumario .wrap-sumario {
  margin: 40px 0 0 0;
}

/* line 27, assets/scss/layout/woocommerce/_woo-single-product.scss */
.single.single-product .woocommerce-content-cam div.product div.sumario .wrap-sumario h1.product_title {
  font-size: 26px;
}

/* line 31, assets/scss/layout/woocommerce/_woo-single-product.scss */
.single.single-product .woocommerce-content-cam div.product div.sumario .wrap-sumario .price span {
  color: #008d94;
  font-size: 24px;
}

/* line 34, assets/scss/layout/woocommerce/_woo-single-product.scss */
.single.single-product .woocommerce-content-cam div.product div.sumario .wrap-sumario .price span .woocommerce-Price-currencySymbol {
  margin-right: 10px;
  color: #666666;
  font-size: 18px;
}

/* line 42, assets/scss/layout/woocommerce/_woo-single-product.scss */
.single.single-product .woocommerce-content-cam div.product div.sumario .wrap-sumario p.stock {
  color: #008d94;
}

/* line 45, assets/scss/layout/woocommerce/_woo-single-product.scss */
.single.single-product .woocommerce-content-cam div.product div.sumario .wrap-sumario form {
  width: 200px;
}

@media handheld, only screen and (max-width: 768px) {
  /* line 45, assets/scss/layout/woocommerce/_woo-single-product.scss */
  .single.single-product .woocommerce-content-cam div.product div.sumario .wrap-sumario form {
    margin: 0 auto;
  }
}

/* line 52, assets/scss/layout/woocommerce/_woo-single-product.scss */
.single.single-product .woocommerce-content-cam div.product div.sumario .wrap-sumario form .quantity .qty {
  height: 30px;
}

/* line 56, assets/scss/layout/woocommerce/_woo-single-product.scss */
.single.single-product .woocommerce-content-cam div.product div.sumario .wrap-sumario form .button {
  background: #008d94;
  transition: ease-in-out 0.3s all;
  border-radius: 0;
}

/* line 60, assets/scss/layout/woocommerce/_woo-single-product.scss */
.single.single-product .woocommerce-content-cam div.product div.sumario .wrap-sumario form .button:hover {
  background: #e22980;
}

/* line 1, assets/scss/layout/woocommerce/_woo-cart.scss */
.woocommerce button.button,
a.button {
  font-weight: 400 !important;
}

/* line 6, assets/scss/layout/woocommerce/_woo-cart.scss */
.woocommerce input.button,
.woocommerce input.button.alt,
a.checkout-button.button.alt.wc-forward {
  background: #008d94;
  transition: ease-in-out 0.3s all;
  border-radius: 0;
  color: white;
  font-weight: 400;
}

/* line 14, assets/scss/layout/woocommerce/_woo-cart.scss */
.woocommerce input.button:hover,
.woocommerce input.button.alt:hover,
a.checkout-button.button.alt.wc-forward:hover {
  background: #e22980;
  color: white;
}

/* line 20, assets/scss/layout/woocommerce/_woo-cart.scss */
.woocommerce-checkout #payment div.payment_box {
  background: none;
}

/* line 24, assets/scss/layout/woocommerce/_woo-cart.scss */
div.instacontainer {
  text-transform: capitalize;
}

/* line 26, assets/scss/layout/woocommerce/_woo-cart.scss */
div.instacontainer div {
  padding: 4px 0 0 0;
}

/* line 29, assets/scss/layout/woocommerce/_woo-cart.scss */
div.instacontainer .copy {
  margin: 24px 0 10px 0;
}

/* line 34, assets/scss/layout/woocommerce/_woo-cart.scss */
.woocommerce-checkout #payment ul.payment_methods li img {
  position: inherit;
  margin: 0 auto;
  padding: 0;
}

/* line 1, assets/scss/layout/woocommerce/_product-texture.scss */
.cam-product-texture {
  clear: both;
}

/* line 3, assets/scss/layout/woocommerce/_product-texture.scss */
.cam-product-texture__title {
  color: #e3e3e3;
}

/* line 6, assets/scss/layout/woocommerce/_product-texture.scss */
.cam-product-texture__img {
  transition: all .4s ease-in-out;
}

/* line 9, assets/scss/layout/woocommerce/_product-texture.scss */
.cam-product-texture__link {
  padding: 10px 3px 0 3px;
  position: relative;
}

/* line 12, assets/scss/layout/woocommerce/_product-texture.scss */
.cam-product-texture__link:hover .cam-product-texture__img {
  -webkit-transform: scale(1.1) rotate(-180deg);
          transform: scale(1.1) rotate(-180deg);
}

/* line 2, assets/scss/components/_loader.scss */
.cd-loader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1001;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff;
  color: #2f3238;
}

/* line 12, assets/scss/components/_loader.scss */
.cd-loader__grid {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

/* line 21, assets/scss/components/_loader.scss */
.cd-loader__item {
  width: 100%;
  height: 100%;
  background: #fff url("../img/footwear.svg") no-repeat center center;
  -webkit-animation: cd-loader-scale-delay 1.3s infinite ease-in-out;
          animation: cd-loader-scale-delay 1.3s infinite ease-in-out;
}

@-webkit-keyframes cd-loader-scale-delay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0.5, 0.5, 1);
            transform: scale3D(0.5, 0.5, 1);
  }
}

@keyframes cd-loader-scale-delay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0.5, 0.5, 1);
            transform: scale3D(0.5, 0.5, 1);
  }
}

/* line 1, assets/scss/components/_select.scss */
.woo-filter-item {
  padding: 0;
  padding-right: 15px;
}

/* line 5, assets/scss/components/_select.scss */
.widget_layered_nav select {
  color: lightgrey;
  width: 100%;
  cursor: pointer;
  border: 1px solid lightgrey;
  padding-right: 2em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 12, assets/scss/components/_select.scss */
.widget_layered_nav select:focus {
  color: #666666;
}

/* line 16, assets/scss/components/_select.scss */
.span-wrapper {
  width: 100%;
  display: inline-block;
  position: relative;
}

/* line 20, assets/scss/components/_select.scss */
.span-wrapper::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: .3em;
  top: 10px;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: lightgrey transparent transparent transparent;
}

/* line 1, assets/scss/components/_buttons.scss */
.cam-button {
  display: inline-block;
  color: white;
  background: #008d94;
  transition: ease-in-out 0.3s all;
  border: none;
  padding: 8px 10px 8px 10px;
}

/* line 8, assets/scss/components/_buttons.scss */
.cam-button:hover {
  background: #e22980;
  color: white;
}

/* line 12, assets/scss/components/_buttons.scss */
.cam-button:focus {
  background: rgba(255, 255, 255, 0.5);
  color: #008d94;
}

/* line 1, assets/scss/pages/404.scss */
.nofound {
  color: #666666;
  min-height: 60vh;
  background: url("../img/404.jpg") no-repeat;
  background-size: cover;
}

@media handheld, only screen and (max-width: 480px) {
  /* line 1, assets/scss/pages/404.scss */
  .nofound {
    background: url("../img/404-movil.jpg") no-repeat;
  }
}

/* line 12, assets/scss/pages/404.scss */
.nofound-container {
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

/* line 19, assets/scss/pages/404.scss */
.nofound-content {
  min-height: 30%;
}

/* line 22, assets/scss/pages/404.scss */
.nofound-text {
  margin-bottom: 20px;
}

/* line 25, assets/scss/pages/404.scss */
.nofound-img {
  height: 250px;
  background: url("../img/globos.png") no-repeat;
}

@media handheld, only screen and (max-width: 768px) {
  /* line 25, assets/scss/pages/404.scss */
  .nofound-img {
    display: none;
  }
}

/* line 31, assets/scss/pages/404.scss */
.nofound-img::after {
  content: '';
  position: relative;
  top: -40px;
  left: -80px;
  display: block;
  height: 100px;
  background: url("../img/un-globo.png") no-repeat;
}

/* line 1, assets/scss/pages/home.scss */
.welcome {
  margin-bottom: 2em;
}

@media only screen and (min-width: 769px) {
  /* line 3, assets/scss/pages/home.scss */
  .welcome-txt {
    position: absolute;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 10%;
  }
}

/* line 10, assets/scss/pages/home.scss */
.welcome-img {
  margin: 0 auto;
}

/* line 13, assets/scss/pages/home.scss */
.welcome-subtitle {
  margin-top: 0;
}

/* line 17, assets/scss/pages/home.scss */
.adv-subibaja {
  color: white;
  background: #cea271;
  padding: 25px 0 45px 0;
}

@media only screen and (min-width: 1281px) {
  /* line 17, assets/scss/pages/home.scss */
  .adv-subibaja {
    width: 1280px;
    margin: 0 auto;
  }
}

/* line 25, assets/scss/pages/home.scss */
.adv-subibaja-title {
  font-weight: 300;
}

/* line 28, assets/scss/pages/home.scss */
.adv-subibaja-img {
  padding-top: 10%;
}

/* line 30, assets/scss/pages/home.scss */
.adv-subibaja-img img {
  margin: 0 auto;
}

/* line 34, assets/scss/pages/home.scss */
.adv-subibaja .cam-button {
  margin: 25px 0 10px 0;
}

/*# sourceMappingURL=style.css.map */
