@font-face {
  font-family: 'Oswald-regular';
  src: url("../fonts/oswald-regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/oswald-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald-regular-webfont.woff2") format("woff2"), url("../fonts/oswald-regular-webfont.woff") format("woff"), url("../fonts/oswald-regular-webfont.ttf") format("truetype"), url("../fonts/oswald-regular-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Oswald-light';
  src: url("../fonts/oswald-light-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/oswald-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald-light-webfont.woff2") format("woff2"), url("../fonts/oswald-light-webfont.woff") format("woff"), url("../fonts/oswald-light-webfont.ttf") format("truetype"), url("../fonts/oswald-light-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Oswald-heavy';
  src: url("../fonts/oswald-heavy-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/oswald-heavy-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald-heavy-webfont.woff2") format("woff2"), url("../fonts/oswald-heavy-webfont.woff") format("woff"), url("../fonts/oswald-heavy-webfont.ttf") format("truetype"), url("../fonts/oswald-heavy-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Open-sans-regular';
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

.pp_pic_holder.pp_woocommerce {
  overflow-x: visible; }

div.pp_woocommerce a.pp_expand {
  left: .5em !important; }

div.pp_woocommerce .pp_close {
  right: .5em !important; }

.pp_gallery {
  margin-top: -20px; }
  .pp_gallery ul {
    height: 100%; }
    .pp_gallery ul a {
      height: 100%; }

.related.products {
  clear: both;
  text-align: center; }

.woocommerce-content-cam {
  padding-top: 40px; }
  @media handheld, only screen and (max-width: 768px) {
    .woocommerce-content-cam {
      padding: 0 10px 0 10px; } }
  .woocommerce-content-cam ul.products li.product {
    margin-bottom: 20px;
    width: 13%;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1; }
    @media handheld, only screen and (max-width: 768px) {
      .woocommerce-content-cam ul.products li.product {
        width: 45%; } }
    .woocommerce-content-cam ul.products li.product a.button {
      display: none; }
    .woocommerce-content-cam ul.products li.product a.woocommerce-LoopProduct-link span.price {
      text-align: center; }
      .woocommerce-content-cam ul.products li.product a.woocommerce-LoopProduct-link span.price span.woocommerce-Price-amount span.woocommerce-Price-currencySymbol {
        margin-right: 8px; }
    .woocommerce-content-cam ul.products li.product a.woocommerce-LoopProduct-link img.attachment-shop_catalog {
      padding: 20px; }
    .woocommerce-content-cam ul.products li.product a.woocommerce-LoopProduct-link h3 {
      text-align: center; }
  .woocommerce-content-cam nav.woocommerce-pagination {
    margin: 20px 0 30px 0; }
  .woocommerce-content-cam div.images a.woocommerce-main-image {
    display: block;
    width: 60%;
    margin: 0 auto; }
    @media handheld, only screen and (max-width: 480px) {
      .woocommerce-content-cam div.images a.woocommerce-main-image {
        width: 80%; } }
  .woocommerce-content-cam div.images div.thumbnails {
    width: 60%;
    margin: 0 auto; }
    @media handheld, only screen and (max-width: 480px) {
      .woocommerce-content-cam div.images div.thumbnails {
        width: 80%; } }

.woocommerce-page div.product div.summary {
  margin: 50px 0 0 0; }
  .woocommerce-page div.product div.summary form {
    width: 200px; }
    .woocommerce-page div.product div.summary form .button {
      background: #008d94;
      transition: ease-in-out 0.3s all; }
      .woocommerce-page div.product div.summary form .button:hover {
        background: #e22980; }
