.woocommerce-content-cam {
  .term-description {
    color: #a7a7a7;
    font-size: 0.92em;
    display: none;
  }
}

%no-margin{
  margin: 0;
  padding: 0;
}
.woo_user_nav{
  @extend %no-margin;
  padding-top: 5px;
  &__ul{
    list-style-type: none;
  }
  &__li{
    @extend %no-margin;
    width: 32%;
    display: inline-block;
    cursor: pointer;
  }
}
.cart_count{
  .woocommerce-Price-currencySymbol {
    color: rebeccapurple;
    font-size: 0.92em;
    margin: 0 5px 0 5px;
  }
}

.register__link,
.current_user__link,
.cart_count__link{
  font-size: 12px;
  &::before {
    content: "";
    display: block;
    float: 'left';
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    margin-right: 4px;
    transition: .3s ease-in-out all;
  }
}

.current_user__link{
  &:before {
    background: url('../img/usuario-icono.png') center no-repeat;
    background-size: contain;
  }
  &:hover:before {
    background: url('../img/usuario-icono-hover.png') center no-repeat;
    background-size: contain;
  }
}

.cart_count__link {
  &:before {
    background: url('../img/carrito-icono.png') center no-repeat;
    background-size: contain;
  }
  &:hover:before {
    background: url('../img/carrito-icono-hover.png') center no-repeat;
    background-size: contain;
  }
}
