//mesa de luz
.pp_pic_holder.pp_woocommerce {
  overflow-x: visible;
}

div.pp_woocommerce a.pp_expand {
  left: .5em !important;
}

div.pp_woocommerce .pp_close {
  right: .5em !important;
}

.pp_gallery {
  margin-top: -20px;
  ul {
    height: 100%;
    a {
      height: 100%;
    }
  }
}

//Pagina single de productos
.single.single-product {
  //Conetenedor de woocommerce
  .woocommerce-content-cam {
    //Page single - Div de imagenes de producto
    div.imagenes {
      a.woocommerce-main-image {
        display: block;
        margin: 0 auto;
        max-width: 460px;
        @include MQ(S) {
          padding-top: 150px;
        }
        @include MQ(M) {
          padding-top: 240px;
        }

      }
      div.thumb {
        padding: 0;
        position: absolute;
        top: 0;
        @include MQ(LXL) {
          position: absolute;
          right: 0;
          top: 0;
        }
        a {
          width: 100%;
          margin: 0;
          float: none;
          @include MQ(SM) {
            width: 50%;
            float: left;
          }
        }
      }
    }
  }
}