.woo_user_nav{
  background: $gris-superclaro;
  height: 20px;
  margin-bottom: 10px;
  line-height: 160%;
  &-search{
    margin: 0;
    padding: 0;
  }
}
.cart-amount{
  position: relative;
  left: -20px;
}
.bag-count{
  z-index: $zindex-5;
  color: $white;
  position: relative;
  top: 18px;
  left:23px;
  &__icon{
    display: inline-block;
    position: absolute;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    background: url('../img/bag-icon.png') no-repeat;
  }
  &__disabled{
    display: inline-block;
    position: absolute;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    background: url('../img/bag-icon-disabled.png') no-repeat;
  }
}
.cam-search-form{
  position: absolute;
  top: 0;
  &:hover > button{
    background: $azul-cam;
    color: $white;
  }
  & input, & button{
    color: $gris-claro;
    background: rgba($white,.4);
    padding: 0 5px 0 5px;
    height: 20px;
    border: none;
  }
  & button{
    border-left: 3px solid $gris-superclaro;
    transition: .2s ease-in-out all;
    &:hover{
      background: $azul-cam;
      color: $white;
    }
  }
}
