//mesa de luz
.pp_pic_holder.pp_woocommerce {
    overflow-x: visible;
}

div.pp_woocommerce a.pp_expand {
    left: .5em !important;
}

div.pp_woocommerce .pp_close {
    right: .5em !important;
}
.pp_gallery {
    margin-top: -20px;
    ul{
        height: 100%;
        a{
            height: 100%;
        }
    }
}
//Pagina single de productos
.single.single-product {
    //Conetenedor de woocommerce
    .woocommerce-content-cam {
        //Page single - Div de imagenes de producto
        div.images {
            a.woocommerce-main-image {
                display: block;
                width: 60%;
                margin: 0 auto;
                @include MQ(S) {
                    width: 80%;
                }
            }
            div.thumbnails {
                width: 60%;
                margin: 0 auto;
                @include MQ(S) {
                    width: 80%;
                }
            }
        }
    }
}
