.woocommerce-content-cam {
    .term-description{
        color: #a7a7a7;
        font-size: 0.92em;
        display: none;
    }
    .woo-help-nav {
        padding: 0;
        margin: 0 0 10px 0;
        .nav-item{
            margin: 0;
            padding: 0;
        }
        .barra-iconos-top {
            ul {
                //float: right;
                @include MQ(SM) {
                    margin-top: 15px;
                    text-align: center;
                    float: none;
                }
                li {
                    display: inline-block;
                    a {
                        transition: .3s ease-in-out all;
                        font-family: $title-regular;
                        color: $gris-claro;
                        padding: 0 12px 0 25px;
                        line-height: 22px;
                        background: transparent;
                        font-size: 14px;
                        text-transform: capitalize;
                        &:hover {
                            color: $rosa-cam;
                            background: transparent;
                        }
                    }
                }
                .icon-session a,
                .icon-cart a {
                    &:before {
                        content: "";
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 22px;
                        height: 22px;
                        padding: 4px;
                        transition: .3s ease-in-out all;
                    }
                }
                .cart-cuenta {
                    padding: 0;
                    .woocommerce-Price-currencySymbol {
                        margin: 0 5px 0 0;
                    }
                    .numero-cuenta {
                        display: inline-block;
                        width: 22px;
                        height: 22px;
                        border: 1px solid $gris-oscuro;
                        border-radius: 50%;
                        text-align: center;
                        transition: .3s ease-in-out all;
                    }
                    &:hover .numero-cuenta {
                        background: $azul-cam;
                        color: $white;
                        border: 1px solid $white;
                    }
                }
                .icon-session {
                    a {
                        &:before {
                            background: url('../img/usuario-icono.png') center no-repeat;
                            background-size: contain;
                        }
                        &:hover:before {
                            background: url('../img/usuario-icono-hover.png') center no-repeat;
                            background-size: contain;
                        }
                    }
                }
                .icon-cart {
                    a {
                        &:before {
                            background: url('../img/carrito-icono.png') center no-repeat;
                            background-size: contain;
                        }
                        &:hover:before {
                            background: url('../img/carrito-icono-hover.png') center no-repeat;
                            background-size: contain;
                        }
                    }
                }
            }
        }
    }
}
